.container{
    position: relative;
    margin: 100px 550px;
    text-align: center;
    overflow: hidden;
}

img{
    width: 100%;
    transition: 1s;
}

.text{
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 250px 0px;
    transition: 0.5s;
}

.container:hover img {
    transform: scale(1.5) rotate(15deg);
}

.container:hover .text {
    display: block;
    transform: 2s;
    opacity: 1;
    background-color: #00000080;
   
}
