body {
    height: 100vh;
    margin: 0;
    background: 
    linear-gradient(gold, rgba(0,0,0,0.5), #000),
    url(../assets/background-sunset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}