body{
  display: flex;
  border: 5px solid red;
  flex-direction: column-reverse;
  align-items: center;
}

div {
  height: 100px;
  width: 150px;
  background-color: darkgray;
  margin: 1em;
  border: 2px solid red;
  text-align: center;
}
