
img {
    width: 100%;
}

.container {
  display: grid;
  /* grid-template-columns: repeat(3,minmax(auto, auto)); */
  grid-gap: 2%;
  margin: 10px;
  grid-template-columns: minmax(100px, 350px) 1fr minmax(100px, 350px);
}