@font-face {
  src: url(../fonts/IBM_Plex_Serif/IBMPlexSerif-Regular.ttf);
  font-family: IBMPlexSerif;
}
@font-face {
  src: url(../fonts/Noto_Serif/static/NotoSerif-SemiBold.ttf);
  font-family: NotoSerif;
}
@font-face {
  src: url(../fonts/Bitter/Bitter-VariableFont_wght.ttf);
  font-family: Bitter;
}
@font-face {
  src: url(../fonts/IBM_Plex_Serif/IBMPlexSerif-Italic.ttf);
  font-family: IBMPlexSerif2;
}

/* styling for task 1 */
body {
  background-image: url("../img/bg.jpg");
}

main {
  background-color: #ffffff9f;
  border-radius: 25px;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 120px;
  padding: 2px;
}

.div-wrapper {
  border-left: 2px solid #b3b0b0;
  margin-right: 160px;
  margin-left: 160px;
  margin-bottom: 50px;
  padding: 15px;
}

html {
  font-family: IBMPlexSerif;
}

h1 {
  text-align: center;
  font-family: NotoSerif;
  font-size: 2.5em;
  padding: 15px;
}

/* Styling for task 2 */
h2 {
  font-family: Bitter;
  text-transform: uppercase;
  margin: 0%;
}

h3 {
  color: #660000;
  font-style: italic;
  font-family: IBMPlexSerif2;
  font-size: 1.5em;
  font-weight: normal;
  margin: 0px;
}

em {
  font-weight: bold;
}

section {
  line-height: 2;
  padding-bottom: 50px;
}

.author {
  margin: 0px;
  padding-left: 10px;
}

/* styling for a Task 3 */
/* navigation bar in header and back to top in footer*/
header div ul li {
  display: inline-block;
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 30px;
}

header,
footer {
  text-align: center;
  font-size: large;
  font-weight: bold;
}

header a,
footer a {
  color: #aa0e0e;
  text-decoration: none;
}

header a:hover,
header a:visited:hover,
footer a:hover,
footer a:visited:hover {
  color: #f52f2f;
  text-decoration: overline;
}

header a:visited,
footer a:visited {
  color: #660000;
}

header a:active,
footer a:active {
  color: #8a0f0f;
  text-decoration: none;
}

footer {
  display: block;
  background-color: #9b9b9b8f;
  padding: 10px;
}

/* styling for bonus task */
h3 a{
    text-decoration: none;
    color: #660000;
}

h3 a:hover{
    text-decoration: underline;
    color: #f52f2f;
}

h3 a:active{
    color:  #2e21e7;
    text-decoration: underline;
}