html,
body {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: "Gill Sans", sans-serif;
  background-color: #282b28;
  color: white;
  font-size: large;
}

/* header */
header,
footer {
  width: 100%;
  margin: 0px;
  background-color: #222222;
  text-align: center;
  position: fixed;
}

header {
  top: 0;
}

/* content section */
.content {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: 10%;
  margin-right: 10%;
}

.profile-card {
  border-radius: 10px;
  background-color: red;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.profile-card ul li:nth-child(1) {
  background-color: #3131318e;
  font-size: x-large;
}

.profile-card ul li {
  list-style-type: none;
  padding: 5px;
}

.profile-card ul {
  width: 100%;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.one {
  background-image: url(./assets/student-1.jpeg);
}

.two {
  background-image: url(./assets/student-2.jpeg);
}

.three {
  background-image: url(./assets/student-3.jpeg);
}

.four {
  background-image: url(./assets/student-4.jpeg);
}

.five {
  background-image: url(./assets/student-5.jpeg);
}

.six {
  background-image: url(./assets/student-6.jpeg);
}

.seven {
  background-image: url(./assets/student-7.jpeg);
}

.eight {
  background-image: url(./assets/student-8.jpeg);
}

.nine {
  background-image: url(./assets/student-9.jpeg);
}

/* footer */
footer {
  bottom: 0;
  height: 100px;
}

footer ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  cursor: pointer;
  align-items: center;
  padding: 20px 0px 0px 0px;
  margin-bottom: 0;
}

input[type="button"] {
  background-color: #ff0000;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: inherit;
  color: inherit;
  padding: 10px 30px;
}
