body{
    background-color: #ffd9a8;
}

header{
    background-color: #ecb896;
    border: double rgb(226, 64, 43);
    text-align: center;
    font-family:fantasy;
    font-style: italic;
}

p{
    font-size: large;
    text-align: center;
}


img{
    border: solid #00000056;
    width: 20vw;
    height: 30vh;
}

.container{
    display: flex;
    gap: 20px;
}

.container>div{
    background-color: aliceblue;
    text-align: center;
    padding: 25px;
    box-shadow: 5px 5px 15px #067ab0;
    width: 50%;
    justify-content: center; 
    margin: 25px;
    border-radius: 15%;
}
div>p{
    text-align: left;
    margin: 25px; /
}
